﻿
@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Lista de clientes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Id Consultor</th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="~/js/DataTableCliente.js"></script>
<script src="~/js/Delete.js"></script>



